/*Reseteo de pagina*/
/*Comienzo de css margin y padding*/
* {
  margin: 0;
  padding: 0;
}

/*Variables*/
/*Extends en botones productos y boton enviar de contactenos*/
.color-titulo {
  color: black;
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 2px 8px;
  border: 2px solid rgb(160, 0, 61);
}

.form-row button {
  color: black;
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  margin-top: 1px;
  padding: 5px 30px;
  border: 2px solid rgb(160, 0, 61);
}

.box-footer, footer, .box-redsocial, .titulo-container, .header-container {
  display: flex;
  justify-content: center;
}

/*Mixin*/
/*Listas*/
/*Componentes de las paginas*/
/*Body*/
body {
  background: url("../imagenes/maderablanca.png");
  font-family: "Poppins", sans-serif;
}

/*Fin body*/
/*Header*/
.header-container {
  background: url("../imagenes/fondorosa.png");
  padding: 20px 0;
  border: 5px solid black;
  border-radius: 20px;
}

.imagen-logo {
  width: 13%;
  border: 2px solid black;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-right: 20px;
}

.titulo-container {
  background: url("../imagenes/fondorosa.png");
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 0.8rem;
}

.logosytitulo {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0 20px;
  color: black;
}

h5 {
  font-size: 1.5rem;
  padding-left: 30px;
}

/*Fin header*/
/*Titulos H2*/
.h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 0;
  background: url("../imagenes/fondorosa.png");
  color: black;
  font-size: 2.2rem;
  text-decoration: none;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
}

/*Fin Titulos H2*/
/*Index - Informacion de la pagina*/
.container-all {
  margin: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.container-all2 {
  border: 3px solid black;
  border-radius: 20px;
  width: 30%;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  transform: translate(5px, 10px);
}

.container-all3 {
  text-align: justify;
  margin-top: 20px;
  font-size: 18px;
  color: black;
  font-family: "Poppins", sans-serif;
}

/*Index - Fin Informacion de la pagina*/
/*Section Segunda Pagina Productos*/
.box-imagen-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
}

.box-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-img {
  border: 3px solid black;
  border-radius: 20px;
}

.color-titulo:hover {
  background-color: rgb(190, 78, 144);
}

/*Fin Pagina Productos*/
/*Section Tercera Pagina Nosotros*/
.parrafosnosotros {
  margin: 10px 10px 10px 10px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  text-align: justify;
}

/*Fin Tercera Pagina Nosotros*/
/*Section Cuarta Pagina Contactenos*/
form {
  font-size: 20px;
  line-height: 1.2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-name {
  text-decoration: underline;
}

.speaker-form {
  border-radius: 5px;
  width: 80%;
  margin: 0 0 60px 0;
  padding: 30px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=number] {
  border: 2px solid black;
  border-radius: 5px;
  width: 130%;
  padding: 7px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: black;
}

.form-row label {
  margin-bottom: 15px;
}

.form-row textarea {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 14px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px;
  min-height: 100px;
  min-width: 120%;
  resize: none;
}

.instructions {
  margin-bottom: 30px;
  font-size: 15px;
  color: black;
}

.form-row button:hover {
  background-color: rgb(190, 78, 144);
}

.form-row button:active {
  background-color: rgb(226, 124, 187);
}

/*Fin cuarta Pagina Contactenos*/
/*Section Pagina Quinta Metodos de Pago*/
.box-redsocial {
  flex-wrap: wrap;
}

.box-imagen-redsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.border-img-social {
  border: 3px solid black;
  border-radius: 20px;
}

/*Fin pagina Metodos de Pago*/
/*Chat Fixed*/
.conteiiner {
  display: flex;
  justify-content: center;
}

.fixed {
  position: fixed;
  bottom: 3%;
  right: 1%;
  width: 4%;
}

/*Fin Chat Fixed*/
/*Footer 1*/
footer {
  background: url("../imagenes/fondorosa.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box1 {
  text-align: center;
}

.textfooter {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

h2 {
  text-decoration: overline;
}

/*Fin Footer 1*/

/*# sourceMappingURL=style.css.map */
