/*Footer 1*/

footer{
    background: url($image-tittles);
    @include bordes(5px solid $primary-color, 20px);
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flexbox;
}


.box-footer{
    @extend %flexbox;
}


.box1{
    
    text-align: center;
    
}


.textfooter{
    margin-bottom: 20px;
    text-decoration: none;
    color: $primary-color;
}

h2 {
    text-decoration: overline;
}
/*Fin Footer 1*/
