/*Footer 1*/

footer{
    background: url('imagenes/fondorosa.png');
    border: 5px solid $primary-color;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.box-footer{
    display: flex;
    justify-content: center;
}


.box1{
    
    text-align: center;
    
}


.textfooter{
    margin-bottom: 20px;
    text-decoration: none;
    color: $primary-color;
}

h2 {
    text-decoration: overline;
}
/*Fin Footer 1*/