/*Body*/

body {
    background: url($usa-image-path);
    font-family: $primary-font-family;
}

/*Fin body*/

/*Header*/

.header-container{
    background: url($image-tittles);
    padding: 20px;
    @include bordes(5px solid $primary-color, 20px);
    @extend %flexbox;
}

.imagen-logo {
    width: 13%;
    @include bordes(2px solid $primary-color, 50px);
    box-shadow: 5px 8px 12px rgb(0, 0, 0);
}

@media screen and (max-width: 576px) {
    .imagen-logo {
        width: 20%;
        @include bordes(2px solid $primary-color, 50px)
    }
}

a{
    text-decoration: none;
    color: $primary-color;
    font-size: nth($size, 2);
    margin-right: 20px;
}


.titulo-container{
    background: url($image-tittles);
    @include bordes(5px solid $primary-color, 20px);
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: nth($size, 1);
    @extend %flexbox;
}


.logosytitulo{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0 20px;
    color: $primary-color;
}


h5{
    font-size: nth($size, 3);
    padding-left: 30px;
}


/*Fin header*/

/*Titulos H2*/

.h2{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 0;
    background: url($image-tittles);
    color: $primary-color;
    font-size: nth($size, 5);
    text-decoration: none;
    text-align: center;
    @include bordes(5px solid $primary-color, 20px)
}

@media screen and (max-width:576px) {
    .h2 {
        font-size: nth($size, 3);
        @include bordes (3px solid $primary-color, 10px);
    }
}

/*Fin Titulos H2*/