/*Body*/

body {
    background: url($usa-image-path);
    font-family: $primary-font-family;
}

/*Fin body*/

/*Header*/

.header-container{
    background: url($image-tittles);
    padding: 20px 0;
    border: 5px solid $primary-color;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}


a{
    text-decoration: none;
    color: $primary-color;
    font-size: 1.2rem;
    margin-right: 20px;
}


.titulo-container{
    background: url($image-tittles);
    border: 5px solid $primary-color;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 0.8rem;
}


.logosytitulo{
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    padding: 20px 0;
    margin: 0 20px;
    color: $primary-color;
}


h5{
    font-size: 0.5em;
    padding-left: 30px;
}

/*Fin header*/

/*Titulos H2*/

.h2{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 0;
    background: url($image-tittles);
    color: $primary-color;
    font-size: 2.2em;
    text-decoration: none;
    text-align: center;
    border: 5px solid $primary-color;
    border-radius: 20px;
}

/*Fin Titulos H2*/