/*Index - Informacion de la pagina*/

.container-all {
    margin: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.container-all2 {
    @include bordes(3px solid $primary-color, 20px);
    width: 30%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    transform: translate(10px, 10px);
}

.container-all3 {
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    color: $primary-color;
    font-family: $primary-font-family;
}
/*Index - Fin Informacion de la pagina*/

/*Section Segunda Pagina Productos*/

.box-imagen-container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}


.box-imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.border-img{
    @include bordes(3px solid $primary-color, 20px)
}


.color-titulo{
    @extend %mensaje;
}


.color-titulo:hover {
    background-color: rgb(190, 78, 144);
}

/*Fin Pagina Productos*/

/*Section Tercera Pagina Nosotros*/

.parrafosnosotros{
    margin: 10px 10px 10px 10px;
    font-size: nth($size, 3);
    text-decoration: none;
    color: $primary-color;
    text-align: justify;
}

/*Fin Tercera Pagina Nosotros*/

/*Section Cuarta Pagina Contactenos*/

form {
    font-size: nth($size, 9);
    line-height: 1.2rem;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-name {
    text-decoration: underline;
}


.speaker-form {
    border-radius: 5px;
    width: 80%;
    margin: 0 0 60px 0;
    padding: 30px;
}


.form-row { 
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}


.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="number"] {
    @include bordes(2px solid $primary-color, 5px);
    width: 100%;
    padding: 7px;
    font-size: nth($size, 7);
    font-family: $primary-font-family;
    color: $primary-color;
}


.form-row label {
    margin-bottom: 15px;
}


.form-row textarea {
    font-family: $primary-font-family;
    color: $primary-color;
    font-size: nth($size, 7);
    @include bordes(2px solid $primary-color, 5px);
    margin-bottom: 10px;
    padding: 7px;
    min-height: 100px;
    min-width: 120%;
    resize: none;
}


.instructions {
    margin-bottom: 30px;
    font-size: nth($size, 8);
    color: $primary-color;
}


.form-row button {
    @extend %botton;
}


.form-row button:hover {
    background-color: rgb(190, 78, 144);
}


.form-row button:active {
    background-color: rgb(226, 124, 187);
}

/*Fin cuarta Pagina Contactenos*/

/*Section Pagina Quinta Metodos de Pago*/

.box-redsocial{
    @extend %flexbox;
    flex-wrap: wrap;
}

.box-imagen-redsocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.border-img-social{
    @include bordes(3px solid $primary-color, 20px);
}

/*Fin pagina Metodos de Pago*/

/*Chat Fixed*/

.conteiiner {
    display: flex;
    justify-content: center;
}

.fixed {
    position: fixed;
    bottom: 3%;
    right: 1%;
    width: 4%;

}

/*Fin Chat Fixed*/